@model LoginModel
@{ Layout = null; }
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title  -->
    <title>Hepsi Online Admin Girişi</title>

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="https://technext.github.io/amado/css/core-style.css">
    <link rel="stylesheet" href="https://technext.github.io/amado/style.css">

</head>

<body>
    <div style="background-color:#fbb710;" class="bg text-white p-2">
        <span class="navbar-brand ml-2">Hepsi Online</span>
    </div>
    <div class="m-1 p-1">
        <div class="text-danger" asp-validation-summary="All"></div>
        <form asp-action="Login" asp-controller="Account" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="form-group">
                <label>İsim</label>
                <div asp-validation-for="İsim" class="text-danger"></div>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label>Şifre</label>
                <div asp-validation-for="Şifre" class="text-danger"></div>
                <input asp-for="Password" type="password" class="form-control" />
            </div>
            <button style="background-color:#fbb710; color:white;" class="btn" type="submit">Giriş Yap</button>
        </form>
    </div>
</body>
</html>