<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hepsi Online</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />
</head>
<body>
    <div style="background-color:#fbb710;" class="bg text-white p-2">
        <span class="navbar-brand ml-2">Hepsi Online</span>
    </div>
    <div class="m-1 p-1">
        @RenderBody()
    </div>
</body>
</html>